/* 
    Document   : zemaitijoscentras.css
    Created on : 2015-05-21, 19.16.49
    Author     : Raimundas
    Description:
        Žemaitijos odontologijos centras stilius.
    
    ©2015-2019 UAB Žemaitijos Odontologijos Centras
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

root { 
    display: block;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif, Arial, Tahoma;
    font-size: medium;
    line-height: 1.5em;
    background-color: white;
    min-width: 720px;
    max-width: 1280px;
}

.logo {
    float:left;
    margin-left:40px;
}

header{
    background-color: white;
    padding: 0 5%;
}

article {
    float: left;    
    width: 340px;   
    margin: 5px;
    padding: 5px;    
}

article h3{  
   color: #003366;
   margin-top: 0;
}


article.with_image{   
    height: 240px;
    padding-left: 10px;
}

article.with_image img{
    float:right;   
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav{
    clear: both;	
    height: 50px;	
    background-color: #003366;
    border-radius: 50px 1px;  
    box-shadow: 3px 3px 3px #888;
    background: linear-gradient(to bottom, #003366,black);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

nav ul li{
    float: left;
}

nav ul li.current{
    background-color:  darkslategrey;
    background: linear-gradient(to bottom, darkslategrey,black);
}

nav ul li a{
    display: block;
    padding: 0 19px;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    color: white;
    text-shadow: 0 1px 0 green;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: black;
}

.registration{
    float:right;    
    margin-top: 15px;
    padding: 5px;    
    background-color: #009933;
    color:white;
    box-shadow: 3px -3px 3px #888;
    text-align: center;
 
}

.registration_phone{
    margin-bottom: 5px;    
    font-size: x-large;
}

.content{
    margin:1% 5%;
}

table {    
    width: 100%;
    border-collapse: collapse;
}

td, th {
    font-size: 1em;
    border: 1px solid #003366;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #003366;
    color: #ffffff;
}

tr.alt td {
    color: #000000;
    background-color: lavender;
}

#map-canvas {
    width: 100%;   
    height: 420px;
    background-color: #CCC;
    float:left;
}
#dantistas {
    margin: 20px 0 15px 0;
}
#phone {
    font-size:  xx-large;
}

#darbo-laikas{
    background-color: whitesmoke;
    border-radius: 50px 5px;  
}

#darbo-laikas-icon{
    float:left;
    margin-right: 5px;
}
#main-foto{
    width: 65%;
    height: auto;
}



